@media (max-width:576px){
    .iddees_description, .iddees_titre {
    display:none;
    }
}

.accordion {
    margin-top: 10px;
}

.iddees_container
{
    max-width: 1400px;
    margin: auto;
}

.iddees_description_titre{
    text-align: center;
}

.iddees_description_titre > h2, h2{
    color: #f7ffe5;
    background-color: #A0C49D;
}
h2{
    padding: 10px 0;
    text-align: center;
}
h3{
    margin: 0;
    text-align: center;
}
.iddees_titre{
    margin: 10px auto;
    padding: 10px 0;
    max-width: 1000px;
    color: #f7ffe5;
    background-color: #A0C49D;
    border-radius: 15px;
}
p{
    margin: 0 20px
}
.accordion_content > p{
    color: #f7ffe5;
    margin: 10px 20px;
}
h4{
    text-align: center;
}
.card_position > h5{
    font-size: 1.2em;
}
.card_position > h5, .card_nom > p {
    color: #A0C49D;
}